@font-face {
    font-family: "Gotham-book";
    src: url("../fonts/Gotham-Book.ttf") format("opentype");
}

@font-face {
    font-family: "Gotham-bold";
    src: url("../fonts/Gotham-Bold.ttf") format("opentype");
}

@font-face {
    font-family: "Gotham-black";
    src: url("../fonts/Gotham-Black.ttf") format("opentype");
}

@font-face {
    font-family: "Gotham-ligth";
    src: url("../fonts/Gotham-Light.ttf") format("opentype");
}

@font-face {
    font-family: "Gotham-medium";
    src: url("../fonts/Gotham-Medium.ttf") format("opentype");
}

@font-face {
    font-family: "Gotham-ultra";
    src: url("../fonts/Gotham-Ultra.ttf") format("opentype");
}

.book {
    font-family: Gotham-book, sans-serif !important;
}

.bold {
    font-family: Gotham-bold, sans-serif !important;
}

.black {
    font-family: Gotham-black, sans-serif !important;
}

.ligth {
    font-family: Gotham-ligth, sans-serif !important;
}

.medium {
    font-family: Gotham-medium, sans-serif !important;
}

.ultra {
    font-family: Gotham-ultra, sans-serif !important;
}

body {
    font-family: Gotham-book !important;
}
